@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Tagesschrift&display=swap");
@import "tailwindcss";

html {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

body {
  cursor: url(/cursor.png), auto;
}

input,
textarea,
select,
label,
option,
button {
  cursor: inherit;
}

/* .next-button {

  @apply px-3 py-1 border-3 rounded-full text-xl border-gray-500
         transition ease-in-out duration-150 transform
         active:scale-95
         font-semibold
}

.next-button--enabled {
  @apply bg-gradient-to-b from-[#660101] via-[#7c0101] to-[#c70101] text-yellow-400
         hover:from-[#7a0101] hover:via-[#700101] hover:to-[#a80101]
         active:from-[#520101] active:via-[#690101] active:to-[#970202];
}

.next-button--disabled {
  @apply bg-gradient-to-b from-stone-900 via-stone-800 to-stone-600 text-black
          opacity-70
         hover:bg-gradient-to-b hover:from-stone-900 hover:via-stone-800 hover:to-stone-600
         active:scale-100
         active:bg-gradient-to-b active:from-stone-900 active:via-stone-800 active:to-stone-600;
}

.next-button:focus {
    @apply outline-none ring-2 ring-yellow-400 ring-offset-2 ring-offset-gray-900;
} */